<nav>
    <div>
        <a>
            <h1>Submed</h1>
        </a>
        <div>
            <ul>
                <li>
                    <a href="index.ejs">Acasă</a>
                </li>
                <li>
                    <a href="cluj">Subiecte Cluj</a>
                </li>
                <li>
                    <a href="desprecontact.ejs">Despre proiect</a>
                </li>
            </ul>
        </div>
    </div>
</nav>