
<body>
    <%- include ('components/header') %>
    <%- include ('components/nav') %>
  <main>
    <p>This is the main content.</p>
  </main>
  <%- include ('components/tabelCluj') %>
  <%- include ('components/footer') %>
</body>
