<div class="table-responsive">
            
            

    <div class="container text-center">
        

        <div class="table-responsive">
            <h2>Anul 2025</h2>
            <table class="table table-bordered mx-auto">
                <thead>
                    <tr>
                        <th>Subiect medicină generală</th>
                        <th>Subiect</th>
                        <th>Barem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Presimulare Martie 2025</td>
                        <td>
                            <a href="assets\files\ClujPresimulare2025.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\ClujPresimulare2025.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                         </a>
                        </td>
                       <td>
                            <a href="assets\files\BaremPresimulareCluj2025.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\BaremPresimulareCluj2025.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                    </tr>
                  <!--  <tr>
                        <td>Simulare Mai 2024</td>
                        <td>
                            <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-success btn-sm" download>
                                <i class="fas fa-download"></i> Download
                            </a>
                            
                        </td>
                       <td>
                            <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-success btn-sm" download>
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                    </tr> 
        <tr>
            <td>Admitere 2024</td>
            <td>
                <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
              <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
            <td>
               <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                  <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr>
    -->
        
    </tbody>
            </table>
        </div>
    </div>
    
    <h2>Anul 2024</h2>
            <table class="table table-bordered mx-auto">
                <thead>
                    <tr>
                        <th>Subiect medicină generală</th>
                        <th>Subiect</th>
                        <th>Barem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Presimulare Martie 2024</td>
                        <td>
                            <a href="assets\files\ClujPresimulare2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\ClujPresimulare2024.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                       <td>
                            <a href="assets\files\BaremPresimulare2024Cluj.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\BaremPresimulare2024Cluj.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Simulare Mai 2024</td>
                        <td>
                            <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                       <td>
                            <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                    </tr> 
        <tr>
            <td>Admitere 2024</td>
            <td>
                <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
              <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-success btn-sm" download="">
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
            <td>
               <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                  <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-success btn-sm" download="">
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr>
        
        <table class="table table-bordered mx-auto">
                <thead>
                    <tr>
                        <th>Subiect medicină generală</th>
                        <th>Subiect</th>
                        <th>Barem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Presimulare Martie 2025</td>
                        <td>
                            <a href="assets\files\ClujAdmitere2023MG.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\ClujAdmitere2023MG.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                         </a>
                        </td>
                       <td>
                            <a href="assets\files\MGMD-BioChOrg-var2.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\MGMD-BioChOrg-var2.pdf" class="btn btn-success btn-sm" download="">
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                    </tr>
                  <!--  <tr>
                        <td>Simulare Mai 2024</td>
                        <td>
                            <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-success btn-sm" download>
                                <i class="fas fa-download"></i> Download
                            </a>
                            
                        </td>
                       <td>
                            <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-success btn-sm" download>
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                    </tr> 
        <tr>
            <td>Admitere 2024</td>
            <td>
                <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
              <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
            <td>
               <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                  <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr>
    -->
    
    </tbody>
    </table>
        
       
        
        
    </tbody>
            </table>
        </div>