<div class="table-responsive">
            <h2>Anul 2025</h2>
            <table class="table table-bordered mx-auto">
                <thead>
                    <tr>
                        <th>Subiect medicină generală - Chimie</th>
                        <th>Subiect</th>
                        <th>Barem</th>
                    </tr>
                </thead>
                <tbody>
      <!--  <tr>
            <td>Admitere 2025</td>
            <td>
                <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
              <a href="assets\files\AdmitereCluj2024mg.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
            <td>
               <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                  <a href="assets\files\BaremAdmitere2024var1.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr>
        <tr>
            <td>Simulare Mai 2024</td>
            <td>
                <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                <a href="assets\files\ClujSIMULAREMai2024.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
           <td>
                <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                <a href="assets\files\BaremCluj2024MaiSimularevVar2.pdf" class="btn btn-success btn-sm" download>
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr> -->
        <tr>
            <td>Simulare 9 Martie 2025</td>
            <td>
                <a href="assets\files\Simulare 9 Martie Iași.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                <a href="assets\files\Simulare 9 Martie Iași.pdf" class="btn btn-success btn-sm" download="">
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
           <td>
                <a href="assets\files\Barem Simulare Iași Martei 2025.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                <a href="assets\files\Barem Simulare Iași Martei 2025.pdf" class="btn btn-success btn-sm" download="">
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr>
        <tr>
            <td>Simulare 11 Mai 2025</td>
            <td>
                <a href="assets\files\Subiect Simulare Iași Mai 2025.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                <a href="assets\files\Subiect Simulare Iași Mai 2025.pdf" class="btn btn-success btn-sm" download="">
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
           <td>
                <a href="assets\files\Barem Simulare Iași Mai 2025.pdf" class="btn btn-primary btn-sm" target="_blank">
                    <i class="fas fa-eye"></i> Preview
                </a>
                <a href="assets\files\Barem Simulare Iași Mai 2025.pdf" class="btn btn-success btn-sm" download="">
                    <i class="fas fa-download"></i> Download
                </a>
            </td>
        </tr><!---
        <td>urmează</td>
                        <td>
                            <a href="path/to/simulare_mai2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="path/to/simulare_mai2024.pdf" class="btn btn-success btn-sm" download>
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>
                        <td>
                            <a href="path/to/barem_simulare_mai2024.pdf" class="btn btn-primary btn-sm" target="_blank">
                                <i class="fas fa-eye"></i> Preview
                            </a>
                            <a href="path/to/barem_simulare_mai2024.pdf" class="btn btn-success btn-sm" download>
                                <i class="fas fa-download"></i> Download
                            </a>
                        </td>--->
        
    </tbody>
            </table>
        </div>